body {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", "Times New Roman", serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/images/background_header.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  column-gap: 20px;
  padding: 0;
  margin-left: auto;
  margin-top: 30px;
  margin-right: 80px;
  position: absolute;
  top: 30px;
  right: 80px;
}

.nav__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 2px;
  transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.nav__link:hover {
  color: #666;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header__title {
  max-width: 709px;
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
  margin-top: 183px;
  margin-left: 40px;
}

.header__title .highlight {
  color: #2f80ed;
  font-style: italic;
  font-weight: 300;
}

.header__description {
  max-width: 683px;
  margin-top: 28px;
  margin-left: 40px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-top: 124px;
  margin-right: 80px;
  margin-bottom: 0px;
  margin-left: 80px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-top: 124px;
  margin-right: 40px;
  margin-bottom: 0px;
  margin-left: 40px;
}

.header__footer-left {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.header__paragraph {
  margin: 0;
}

.header__footer-right {
  text-align: right;
  align-self: flex-end;
}

.recipes {
  position: relative;
  padding: 40px 80px;
  background-color: #0a2750;
  background-image: url("/images/background_recipes.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 1px;
}

.recipes__title {
  color: #ffffff;
  font-style: normal;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  margin: 0px 0px 0px 80px;
  max-width: 580px;
}

.recipes__subtitle {
  color: #ffffff;
  margin: 24px 0 80px 80px;
  max-width: 480px;
  font-family: "Noto Serif";
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 215px;
}

.recipes__video-item {
  width: 480px;
  height: 273px;
}

.recipes__video-item iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.recipes__video-caption {
  color: #ffffff;
  margin-top: 24px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  font-family: "Inter";
  font-style: normal;
}

.reservation {
  min-height: 720px;
  background-image: url("/images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #d9e7ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 100px 0 80px 0;
}

.reservation__form {
  /*display: flex; /*<--*/
  /*flex-direction: column;*/
  width: 100%;
  max-width: 385px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.form__label {
  padding: 8px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.form__input {
  border-radius: 4px;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.form__button {
  margin-top: auto;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: white;
  background-color: #0a2750;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  max-width: 385px;
  height: 60px;
  width: auto;
}

.form__button:hover {
  background-color: #004080;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.form__label_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}

.form__checkbox {
  width: 20px;
  height: 20px;
}
